*{
    margin: 0;
    padding: 0;
}
.clearfox::after{
    content: " ";
    clear: both;
    display: block;
}
.main-div{
    width: 100%;
    margin: auto;
}

    /* header section */

.header-section{
    background-color: #22C3A3;
    padding: 20px;
}
.header-left{
    color: white;
    width: 30%;
    float: left;
    margin-left: 30px;
    line-height: 40px;
}
.header-right{
    float: right;
    margin-right: 40px;
}
.header-right ul{
    display: inline-block;
}
.header-right ul li{
    display: inline-block;
}
.header-right ul li a{
    color: white;
    text-decoration: none;
    list-style: none;
    margin-left: 20px;
    line-height: 40px;
}

    /* banner section */

.banner-section{
    background-image: url(https://i.postimg.cc/3wpXmnND/header-bg01.jpg);
    background-size: 100% 80%;
    background-repeat: no-repeat;
    padding: 220px 0px;
    text-align: center;
}
.banner-section h1{
    color: white;
    font-size: 30px;
    font-size: 45px;
    font-size: 45px;
}
.banner-section h3{
    color: white;
    margin-top: 10px;
}
.banner-section button{
    background-color: #0ABE99;
    color: white;
    padding: 15px 30px;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 30px;
    font-size: 15px;
}

   /* service section */

.servic{
    text-align: center;
    margin-top: -70px;
}
.servic p{
    margin-top: 10px;
}

   /* contain section */

.contain{
    text-align: center;
    margin-top: 50px;
    border-bottom: 2px solid #0ABE99;
}
.contain i{
    font-size: 30px;
    color: #0ABE99;
    margin-bottom: 20px;
}
.contain h2{
    margin-bottom: 10px;
}
.same{
    display: inline-block;
    text-align: center;
    height: 200px;
}
.div-1{
    float: left;
    width: 15%;
    margin-left: 170px;
}
.div-2{
    float: left;
    width: 15%;
    margin-left: 106px;
}
.div-3{
    float: left;
    width: 15%;
    margin-left: 125px;
}
.div-4{
    float: left;
    width: 15%;
    margin-left: 77px;
}
.about{
    text-align: center;
    margin-top: 40px;
}
.about p{
    margin-top: 10px;
}
.container-2{
    margin: 40px 0;
}
.container-left{
    float: left;
    width: 37%;
    margin-left: 10px;
}
.container-left img{
    height: 320px;
    width: 600px;
    margin-left: 30px;
}
.container-right{
    float: right;
    width: 58%;
    text-align: left;
    margin-top: 10px;
}
.container-right p{
    margin-bottom: 10px;
}
.container-right h2{
    padding: 5px 0;
}
.contact{
    height: 280px;
    width: auto;
    margin-top: 400px;
    text-align: center;
    background-color: #F6F6F6;
}
.contact h1{
    padding-top: 20px;
}
.contact p{
    margin-top: 10px;
}
.location{
    text-align: center;
    margin-top: 60px;
}
.item-1{
    float: left;
    margin-left: 270px;
}
.item-2{
    float: left;
    margin-left: 245px;
}
.item-3{
    float: left;
    margin-left: 270px;
}
.location i{
    font-size: 25px;
    color: #0ABE99;
    margin-bottom: 15px;
}

   /* fotter section */

.first-fotter{
    text-align: center;
    background-color: #0ABE99;
}
.first-fotter ul{
    display: inline-block;
}
.first-fotter ul li{ 
    display: inline-block;
}
.first-fotter ul li i{
    padding: 20px 10px;
    color: white;
    font-size: 25px;
}
.last-fotter{
    background-color: #222222;
    color: #4A4A4A;
    text-align: center;
}
.last-fotter h4{
    padding: 20px;
}